
{% include 'templates/header.twig' %}

    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      {# <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
      </h1> #}

      <div style="position: absolute; top: 55px; left: 125px; z-index: 1; width: 590px">
        <p id="top_text" style="width: 100%; text-align: center; font-size: 40px; font-weight: bold"></p>
      </div>

      <div style="position: absolute; top: 310px; left: 125px; z-index: 1; width: 590px">
        <p id="bottom_text" style="width: 100%; text-align: center; font-size: 40px; font-weight: bold"></p>
      </div>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div id="meme_image" class="col-md-8">
          <img class="img-fluid" id="first_image" src="https://reboot.presse-citron.net/wp-content/uploads/2015/06/comment-etre-drole-faire-rire.jpg" alt="" style="width: 600px; height: 300px">
        </div>

        <div class="col-md-4">
          
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Texte 1</label>
              <input id="textTop" type="text" class="form-control" id="exampleInputEmail1" placeholder="Entrez ici votre texte" onkeyup="displayText(document.querySelector('#top_text'), this)">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Texte 2</label>
              <input id="textBottom" type="text" class="form-control" id="exampleInputPassword1" placeholder="Entrez ici votre texte"  onkeyup="displayText(document.querySelector('#bottom_text'), this)">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Couleur : </label>
              <input id="color" type="color" id="couleurTexte" name="color" onchange="changeColor()">
            </div>
            <button class="btn btn-primary">Télécharger</button>
          </form>
          
        </div>

      </div>

      <script>

        function changeColor() {
          document.querySelector('#top_text').style.color = document.querySelector('#color').value;
          document.querySelector('#bottom_text').style.color = document.querySelector('#color').value;
        }
      
        function displayText(destination, text) {
          destination.innerText = text.value;
        }
              
      </script>

      <!-- /.row -->

      <!-- Related Projects Row -->
      <h3 class="my-4">Choisissez une image</h3>

    <div class="live__scroll">
      <div class="row text-center">

        <div class="col-md-3 col-sm-6 mb-4 live__scroll--box" style="width=500px; height=300px">
            <img class="img-fluid" src="https://reboot.presse-citron.net/wp-content/uploads/2015/06/comment-etre-drole-faire-rire.jpg" alt="" style="width=500px; height=300px" onclick='changeImage("https://reboot.presse-citron.net/wp-content/uploads/2015/06/comment-etre-drole-faire-rire.jpg")'>
        </div>

        <div class="col-md-3 col-sm-6 mb-4 live__scroll--box" style="width=500px; height=300px">
            <img class="img-fluid" src="https://www.humour.com/medias/photos/2016/600x404/l-20161017203142.jpg" alt="" style="width=500px; height=300px" onclick='changeImage("https://www.humour.com/medias/photos/2016/600x404/l-20161017203142.jpg")'>
        </div>

        <div class="col-md-3 col-sm-6 mb-4 live__scroll--box" style="width=500px; height=300px">
            <img class="img-fluid" src="https://i.pinimg.com/236x/dd/34/fd/dd34fd403ad90174b3b9968b267c10bf--sumatran-orangutan-baby-orangutan.jpg" alt="" style="width=500px; height=300px" onclick='changeImage("https://i.pinimg.com/236x/dd/34/fd/dd34fd403ad90174b3b9968b267c10bf--sumatran-orangutan-baby-orangutan.jpg")'>
        </div>

        <div class="col-md-3 col-sm-6 mb-4 live__scroll--box" style="width=500px; height=300px">
            <img class="img-fluid" src="https://parismatch.be/app/uploads/2018/04/Macaca_nigra_self-portrait_large-e1524567086123-1100x715.jpg" alt="" style="width=500px; height=300px" onclick='changeImage("https://parismatch.be/app/uploads/2018/04/Macaca_nigra_self-portrait_large-e1524567086123-1100x715.jpg")'>
        </div>

        <div class="col-md-3 col-sm-6 mb-4 live__scroll--box" style="width=500px; height=300px">
            <img class="img-fluid" src="https://media.koreus.com/201504/135-insolite-01.jpg" alt="" style="width=500px; height=300px" onclick='changeImage("https://media.koreus.com/201504/135-insolite-01.jpg")'>
        </div>

        <div class="col-md-3 col-sm-6 mb-4 live__scroll--box" style="width=500px; height=300px">
            <img class="img-fluid" src="http://resize1-europe1.ladmedia.fr/r/622,311,FFFFFF,center-middle/img/var/europe1/storage/images/europe1/politique/humour-politique-hollande-laureat-du-grand-prix-2017-hulot-et-brigitte-macron-recompenses-3505697/45457559-1-fre-FR/Humour-politique-Hollande-laureat-du-Grand-prix-2017-Hulot-et-Brigitte-Macron-recompenses.jpg" alt="" style="width=500px; height=300px" onclick='changeImage("http://resize1-europe1.ladmedia.fr/r/622,311,FFFFFF,center-middle/img/var/europe1/storage/images/europe1/politique/humour-politique-hollande-laureat-du-grand-prix-2017-hulot-et-brigitte-macron-recompenses-3505697/45457559-1-fre-FR/Humour-politique-Hollande-laureat-du-Grand-prix-2017-Hulot-et-Brigitte-Macron-recompenses.jpg")'>
        </div>

      </div>
    </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    {% include 'templates/footer.twig' %}
