{% include 'templates/header.twig' %}
<body id="LoginForm">
    <div class="container">
        <h1 class="form-heading">MEME GENERATOR</h1>
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>CONNEXION</h2>
                    <p>Connectez-vous !!!</p>
                </div>
                <form action="" id="Login" method="POST">

                    <div class="form-group">

                        <input type="text" name="inputLogin" class="form-control" id="inputEmail" placeholder="Pseudo ou Email" required>

                    </div>

                    <div class="form-group">

                        <input type="password" name="inputPassword" class="form-control" id="inputPassword" placeholder="Mot de passe" required>

                    </div>
                    <div class="forgot">
                        <a href="#">Mot de passe oublié</a>
                        <a href="signup" style="float: right">S'inscrire?</a>
                    </div>
                    <button type="submit" name="loginBtn" class="btn btn-primary">Se connecter</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

<!--  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    -->
